<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
  </appenders>
  <loggers>
    <Logger name="org.opennms.features.vaadin.pmatrix" level="debug" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>
    <root level="warn">
      <appender-ref ref="Console" />
    </root>
  </loggers>
</configuration>
